*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100vw;
}
.container{
    width: 100%;
    min-height: 100%;
    display: flex;
}
.left{
    display: flex;
    flex: 1;
}
.left .box{
    background-color: #333;
    width: 100%;
    text-align: center;
    color:#fff;
    font-weight: 900;
    padding: 20px;
}
.middle{
    width:100%;
    display: flex;
    flex-direction: column;
    flex:15;
}
.middle .box2{
    background-color:#66cc99 ;
    width: 100%;        
    height: 50%;
    text-align: center;
    color:#fff;
    font-weight: 900;
    padding: 20px;

}
.middle .box3{
    background-color: #ff9933;
    width: 100%;
    height: 50%;
    text-align: center;
    color:#fff;
    font-weight: 900;
    padding: 20px;
}
.right{
    display: flex;
    flex:1;
}
.right .box{
    background-color: grey;
    width: 100%;
    text-align: center;
    color:#fff;
    font-weight: 900;
    padding: 20px;
}
/* media queries  */
@media screen and (max-width:600px){
    .container{
        flex-direction: column;
    }
}