*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.images{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
img{
    width: 30%;
}
@media screen and (max-width:800px){
    .images{
        flex-wrap: wrap;
        gap:1rem;
    }
    img{
        width:45%;
    }
}
@media screen and (max-width:500px){
    .images{
        flex-direction: column;
    }
    img{
        width: 100%;
    }
}